.movie {
  max-width: 55%;
  width: 200px;
  min-height: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: solid 1px grey;
  margin: 1%;
  box-shadow: 10px 5px 5px;
  background-color: whitesmoke;
  border-radius: 20px;
  transition: 0.5s;
}
.movie:hover {
  background-color: #fce6e8;
}

.poster {
  width: 120px;
  height: 180px;
}

.movie:active {
  background-color: #170102;
  color: whitesmoke;
  z-index: auto;
  transform: scale(1.02);
}
